[Unit]
Description=Saver Script
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/python
ExecStart=/usr/bin/python3 /home/pi/python/saver.py
Type=idle
User=pi
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target